Properties :
1. indexed, mutable,allow duplicates, stores heterogenous datatypes
2. nested format

In [2]:
# declaration of list
L1 = list()
L2 = []
print('list L1 is :',L1)
print('list L2 is :',L2)

list L1 is : []
list L2 is : []

In [3]:
len(L1)

0

1. append(element) add the element to the last of the array
2.  insert(Index, element)
3.  count(element) tells abt the count of the index the element passed
4.  pop(index of element) 
5. remove(index) removes the first occurence of the element

In [7]:
lst = list()
n = 5
print('give inputs to the list : ')
for i in range(n):
    a = input()
    lst.append(a)
print(lst)

give inputs to the list :
['bs', 'bs', 'bs', 'bs', 'bs']

In [9]:
lst.insert(1,'kn')
print(lst)

['bs', 'kn', 'kn', 'bs', 'bs', 'bs', 'bs']

In [11]:
lst.count('bs')

5

In [17]:
# deleting the elements using del(slicing)
del(lst[:3])
for i in range(5):
    lst.append(i)

In [18]:
lst

[0, 1, 2, 3, 4]

In [19]:
# nested lists
n = 4
m= 4
o = [[i for i in range(m)] for j in range(n)]
for i in range(n):
    print(*o[i],sep=' ')

0 1 2 3
0 1 2 3
0 1 2 3
0 1 2 3

In [24]:
n = 4
m =4 
p =[]
for i in range(n):
    x = list(map(int,input().split()))
    p.append(x)
for i in range(n):
    print(*p[i],sep=' ')

1
2
3
4

TUPLES

In [28]:
# CREATION OF LIST FROM TUPLE 
lt = [('a',1),('b',1),('c',3)]
liout = [item for t in lt for item in t]
liout

['a', 1, 'b', 1, 'c', 3]

In [27]:
import itertools
tup = [('a',4),('b',5),('c',6)]
L =  list(itertools.chain(*tup))
L

['a', 4, 'b', 5, 'c', 6]